#columnMain_box
	padding: 22px 12px 14px 22px
	border-top: 1px solid #DDD
	clear: both

	&:after
		content: ""
		display: block
		clear: both

#columnMain_infopanel
	width: 703px
	float: left
	.box
		width: 232px
		height: 186px
		margin: 0 2px 0 0
		background-color: #f2f2f2
		float: left

#columnMain_infopanel_icon1
	width: 232px
	height: 50px
	background: transparent url('/img/icon_truck.png') no-repeat center bottom

#columnMain_infopanel_icon2
	width: 232px
	height: 50px
	background: transparent url('/img/icon_info.png') no-repeat center bottom

#columnMain_infopanel_icon3
	width: 232px
	height: 50px
	background: transparent url('/img/icon_book.png') no-repeat center bottom

#columnMain_infopanel .box
	.header
		padding: 6px
		color: #ba2a2a
		font-size: 1.0em
		font-weight: bold
		text-align: center
	.text
		padding: 6px
		color: #81756f
		font-size: 0.875em
		text-align: center

#columnMain_box
	p, address
		margin: 0
		padding: 0 0 1em 0
		color: #3f3f3f

.article_grid_l
	position: relative
	overflow: hidden
	width: calc(33.333333333% - 10px)
	height: 360px
	box-sizing: border-box
	margin: 0 10px 9px 0
	float: left
	border: 1px solid #DDD
	border-radius: 2px

	// deactivate border elements
	.le, .re 
		display: none

	// content
	.c
		padding: 9px

		.img_thumbnail_wrap
			padding-bottom: 10px

			// &:after
			// 	content: ""
			// 	display: block
			// 	width: 111px
			// 	position: absolute
			// 	z-index: 1
			// 	bottom: -6px
			// 	left: 50%
			// 	transform: translateX(-50%)
			// 	// for testing
			// 	height: 10px
			// 	background: maroon

	.img_thumbnail
		border: 1px solid #DDD
		width: 111px
		margin: 0 auto

		// item TAGs
		.status_label
			position: absolute
			text-align: center

		// TAG: top
		.status_label_2
			bottom: 68px
			left: 10px
			border-radius: 2px
			padding: 0px 10px 1px
			font-size: 13px
			line-height: 18px
			color: white
			background-color: #b71540
			
		// TAG: new
		.status_label_1
			@extend .status_label_2
			background-color: #0a3d62

		// TAG: our recomendation
		.status_label_3
			@extend .status_label_2
			background-color: #fa983a

		// TAG: discount
		.status_label_4
			z-index: 2
			font-size: 0px
			line-height: 0px
			padding-bottom: 62px
			bottom: 0px
			left: 0px
			right: 0px
			width: 100%
			background-color: #FFF6A1

		.status_label_discount
			display: none
			position: absolute

		.image
			text-align: center
			overflow: hidden
			img
				display: block
				width: 111px
				height: 147px

	.info
		width: 192px
		float: left
	.title1
		font-size: 16px
		line-height: 18px
		max-height: 36px
		overflow-y: hidden
		color: #a20000
		margin-bottom: 3px
		a
			font-weight: 400
			color: #a20000
			&:hover
				text-decoration: underline
	.title2
		color: #555
		font-size: 15px
		line-height: 17px
		max-height: 17px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		margin-bottom: 5px
	.author
		font-size: 15px
		line-height: 17px
		font-weight: 400
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
	.basic_info
		font-size: 13px
		line-height: 15px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		margin-top: 2px
		color: #555
		> a
			color: #555

	.id
		width: 192px
		margin-top: 2px
		float: left

	// price - label
	.label_price
		display: none

	// price - value
	.value_price
		position: absolute
		z-index: 2
		bottom: 14px
		left: 10px
		font-size: 15px
		line-height: 30px
		strong
			font-size: 22px

	// discount - label
	.label_price_original, .label_discount
		display: none
		
	// discount - value
	.value_price_original
		@extend .value_price
		font-size: 13px
		line-height: 15px
		bottom: 40px
		s
			text-decoration: none !important
		&:after
			content: ""
			display: block
			position: absolute
			width: 110%
			height: 1px
			background: rgba(0,0,0,0.8)
			top: 7px
			left: -2px
			transform: rotate(-8deg)

	.value_discount
		@extend .value_price
		color: #eb2f06

	.label
		display: none
		width: 50px
		margin-right: 4px
		font-size: .75em
		text-align: right
		float: left
	.value
		display: none
		width: 128px
		font-size: .75em
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		float: left

	// item buttons
	.article_grid_buttons
		&:before
			position: absolute
			z-index: 0
			content: ""
			display: block
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: #f5f5f5

		position: absolute
		width: calc(100%)
		height: 62px
		bottom: 0px
		right: 0px

		&:after
			content: ""
			clear: both
			display: block

	.article_grid_buttons a
		text-decoration: none
		&:hover
			text-decoration: none

	.detail_button
		display: none

	.order_button
		position: relative
		z-index: 3
		margin-top: 16px
		margin-right: 10px
		height: 30px
		display: block
		float: right
		width: 98px
		background: linear-gradient(white, #DDD)
		box-shadow: 0px 1px 0px 0px #AAA
		border: 1px solid #DDD
		border-radius: 2px

		&:active
			margin-top: 18px
			background: linear-gradient(white, #EEE)
			box-shadow: 0px 0px 0px 0px #AAA

		&:before
			content: ""
			display: inline-block
			margin-left: 5px
			width: 16px
			height: 30px
			background:
				image: url('/img/basket-icon.svg')
				repeat: no-repeat
				size: contain
				position: center 6px

		.label
			width: auto
			height: 30px
			line-height: 30px
			margin-right: 6px
			font-size: 0.875em
			display: block
			float: right
