#columnMain_box
	padding: 22px 12px 14px 22px
	border-top: 1px solid #DDD
	clear: both

	&:after
		content: ""
		display: block
		clear: both

#columnMain_infopanel
	width: 703px
	float: left
	.box
		width: 232px
		height: 186px
		margin: 0 2px 0 0
		background-color: #f2f2f2
		float: left

#columnMain_infopanel_icon1
	width: 232px
	height: 50px
	background: transparent url('/img/icon_truck.png') no-repeat center bottom

#columnMain_infopanel_icon2
	width: 232px
	height: 50px
	background: transparent url('/img/icon_info.png') no-repeat center bottom

#columnMain_infopanel_icon3
	width: 232px
	height: 50px
	background: transparent url('/img/icon_book.png') no-repeat center bottom

#columnMain_infopanel .box
	.header
		padding: 6px
		color: #ba2a2a
		font-size: 1.0em
		font-weight: bold
		text-align: center
	.text
		padding: 6px
		color: #81756f
		font-size: 0.875em
		text-align: center

#columnMain_box
	p, address
		margin: 0
		padding: 0 0 1em 0
		color: #3f3f3f

$itemHeight: 216px

.article_grid_l
	position: relative
	overflow: hidden
	width: calc(33.333333333% - 10px)
	height: 360px
	box-sizing: border-box
	margin: 0 10px 9px 0
	float: left
	border: 1px solid #DDD
	border-radius: 2px

	// deactivate border elements
	.le, .re 
		display: none

	// content
	.c
		padding: 9px

		.img_thumbnail_wrap
			position: relative
			margin-bottom: 10px

			// &:after
			// 	content: ""
			// 	display: block
			// 	width: 111px
			// 	position: absolute
			// 	z-index: 1
			// 	bottom: -6px
			// 	left: 50%
			// 	transform: translateX(-50%)
			// 	// for testing
			// 	height: 10px
			// 	background: maroon

	.img_thumbnail
		border: 1px solid #DDD
		width: 111px
		margin: 0 auto

		// item TAGs
		.status_label
			position: absolute
			top: 0px
			left: -10px
			width: 100px
			line-height: 20px
			font-size: 12px
			color: white
			text-align: center

		// TAG: top
		.status_label_1
			background-color: green
			
		// TAG: new
		.status_label_2
			background-color: orange

		// TAG: our recomendation
		.status_label_3
			background-color: olive

		// TAG: discount
		.status_label_4
			background-color: red

		.status_label_discount
			display: none
			position: absolute

		.image
			text-align: center
			overflow: hidden
			img
				display: block
				width: 111px
				height: 147px

	.info
		width: 192px
		float: left
	.title1
		font-size: 16px
		line-height: 18px
		max-height: 36px
		overflow-y: hidden
		color: #a20000
		margin-bottom: 3px
		a
			font-weight: 400
			color: #a20000
			&:hover
				text-decoration: underline
	.title2
		color: #555
		font-size: 15px
		line-height: 17px
		max-height: 34px
		overflow-y: hidden
		margin-bottom: 5px
	.author
		width: 192px
		font-size: .875em
		font-weight: normal
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		float: left
	.basic_info
		width: 192px
		font-size: .875em
		font-weight: normal
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		float: left
		font-size: .75em
		margin-top: 2px
	.id
		width: 192px
		margin-top: 2px
		float: left

	// discount - label
	.label_price_original, .value_price_original
		width: 96px
		font-size: .75em
		margin-top: 12px
		display: inline
		float: left
	.label_price_original
		display: none
		text-align: right
	.value_price_original
		text-align: left

	// discount - value
	.label_discount, .value_discount
		width: 96px
		margin-bottom: 5px
		font-size: 16px
		display: inline-block
		float: left
	.label_discount
		display: none
	.value_discount
		float: left
		clear: both

	// price - label and value
	.label_price, .value_price
		font-size: 16px
		bottom: 0px
	.label_price
		display: none
		width: 85px
		right: 120px
		text-align: right
	.value_price
		position: absolute
		z-index: 2
		bottom: 10px
		left: 10px
		font-size: 15px
		line-height: 28px

		strong
			font-size: 20px

	.label
		display: none
		width: 50px
		margin-right: 4px
		font-size: .75em
		text-align: right
		float: left
	.value
		display: none
		width: 128px
		font-size: .75em
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		float: left

	// item buttons
	.article_grid_buttons
		position: absolute
		z-index: 1
		width: calc(100%)
		height: 50px
		bottom: 0px
		right: 0px
		background: #f5f5f5
		&:after
			content: ""
			clear: both
			display: block
	.article_grid_buttons a
		text-decoration: none
		&:hover
			text-decoration: none

	.detail_button
		display: none

	.order_button
		margin-top: 10px
		margin-right: 10px
		height: 30px
		display: block
		float: right
		width: 98px
		background: linear-gradient(white, #DDD)
		border: 1px solid #DDD
		border-radius: 2px

		&:active
			background: linear-gradient(#DDD, white)

		&:before
			content: ""
			display: inline-block
			margin-left: 5px
			width: 16px
			height: 30px
			background:
				image: url('/img/basket-icon.svg')
				repeat: no-repeat
				size: contain
				position: center 6px

		.label
			width: auto
			height: 30px
			line-height: 30px
			margin-right: 6px
			font-size: 0.875em
			display: block
			float: right
